
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.header {
    padding-left: 60px;
}

/* First-part */

.first-part {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    gap: 10px;
}

.first-part .first-section {
    display: flex;
    gap: 50px;
}

.first-part .first-section div {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.first-part .first-section div img {
    width: 20px;
    height: 20px;
}

.first-part .second-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.first-part .second-section .left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

}

.first-part .second-section .left-side :nth-child(1) {
    font-size: 80px;
    font-weight: 700;
}

.first-part .second-section .left-side :nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 79%;
}

.first-part .second-section .right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-part .third-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-part .third-section .aphorism {
    /* width: 480px; */
    height: 200px;
    background: #1E4681;
    border-radius: 10px;
    padding: 25px;
    position: relative;
}

.first-part .third-section .aphorism :nth-child(1) {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.first-part .third-section .aphorism :nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    left: 60%;
    bottom: 1px;

}

/* Second-part */
.second-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 60px;
}

.second-part .first-section {
    /* padding-left: 25px; */
    font-size: 50px;
    font-weight: 700;

}

.second-part .second-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-part .second-section p {
    font-size: 24px;
    font-weight: 400;
}

.second-part .third-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-part .third-s-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.second-part .third-s-text :nth-child(1) {
    font-size: 25px;
    font-weight: 700;
}

.second-part .third-s-text :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}

/* third-part */
.third-part {
    display: flex;
    flex-direction: column;
    padding-left: 60px;

}

.third-part .first-section {

    font-size: 55px;
    font-weight: 700;

}

.third-part .second-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.third-part .second-section div {
    display: flex;
    flex-direction: column;
}

.third-part .second-section div :nth-child(1) {
    color: #1E4681;
    font-size: 25px;
    font-weight: 700;

}

.third-part .second-section div :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}

/* fourth-part */

.fourth-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 60px;
}

.fourth-part .first-section {
    font-size: 55px;
    font-weight: 700;
}

.fourth-part .second-section ul li {
    font-size: 24px;
    font-weight: 400;
}










@media (max-width:650px) {
    .none-img {
        display: none;
    }

    .third-part .second-section {
        display: flex;
        flex-direction: column;
    }
    .footer .first-section {
        display: flex;
        flex-direction: column;
    }

}